<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="libera-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
      .encabezado{
        color: black;
        font-size: 30px;
      }
      .pantallacompleta {
          z-index: -999;
          width: 100%;
          height: 100%;
          background-position: center center;
          position: fixed;
          top: 0;
          left: 0;
      }

    </style>

    <div class="container" hidden$={{!dentro}}>

      <div class="row">
        <h1 class="encabezado">Ingresa el CRQ que deseas consultar</h1>
        <br>
      </div>

      <div class="row">
          CRQ: <input type="crq" value="{{crq::input}}">
        <br>
      </div>

      <div class="row">
        <br>
        <h4 > </h4>
        <br>
      </div>

      <div class="row">
        <br>
        <h3 > </h3>
        <br>
      </div>

      <div class="row">
         <button on-click="nomcomponente" class="btn btn-success">Consultar</button>
         &nbsp; &nbsp; &nbsp;
         <button on-click="regresar" class="btn btn-warning">Regresar</button>
      </div>

      <div class="row">
        <img class = "clearfix" src="../../src/img/search.jpg" alt="">
      </div>

    </div>

    <div class="row">
      <table class="table table-striped">
        <tbody>
          <template is="dom-repeat" items="{{componentes}}">
            <tr>
              <td>[[item.crq]]</td>
              <td>[[item.componente]]</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <div class="row">
      <button on-click="regresar" class="btn btn-success">Regresar</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LiberaApp extends Polymer.Element {
      static get is() { return 'libera-app'; }
      static get properties() {
        return {

          clientes: {
            type: Array,
            notify: true,
            value: 'libera-app'
          },

          crq: {
            type: String
          },

          componentes: {
            type: Array,
            notify: true
          }

        };
      }

      regresar() {
          this.crq="";
          this.componentes = false;
      }



      nomcomponente(){
        var request = new XMLHttpRequest();
        var url = "http://localhost:3000/Deploy";
        var x = 0;
           var total = 0;
           request.open("GET", url, false);
           request.setRequestHeader("crq", this.crq);
           request.send();
           this.componentes = JSON.parse(request.responseText);
           console.table(this.componentes);
           for (x=0;x<this.componentes.length;x++){
             console.log(this.componentes[x].componente);
             total = total + this.componentes[x].componente;
           }
      }


    }


    window.customElements.define(LiberaApp.is, LiberaApp);
  </script>
</dom-module>
