<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/css/estilos.css">
<dom-module id="login-app">
 <template>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

   <style>
     :host {
       display: block;
     }
     .encabezado{
       color: black;
       font-size: 30px;
     }
     .pantallacompleta {
         z-index: -999;
         width: 100%;
         height: 100%;
         background-position: center center;
         position: fixed;
         top: 0;
         left: 0;
     }

   </style>


   <div class="container" hidden$={{logado}}>

     <div class="row">
       <h1 class="encabezado">Ingresa tus credenciales de acceso</h1>
     </div>

     <div class="row">
       Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" value="{{email::input}}">
     </div>

     <div class="row">
       Password: <input type="password" value="{{password::input}}">
     </div>

     <div class="row">
       <button on-click="Entrar" class="btn btn-primary">Login</button>
     </div>

     <div class="row">
       <br>
       <h2 > </h2>
       <br>
     </div>

     <div class="row">
       <h7 class="encabezado">Si eres nuevo usuario registrate <span on-click="registrar" style="color:red;cursor:pointer;">aquí</span> </h7>
     </div>

     <div class="row">
       <img class = "pantallacompleta" src="../../src/img/finanzas1.jpg" alt="">
     </div>

   </div>

   <div class="container" hidden$={{!dentro}}>

     <div class="row">
       <h1 class="encabezado">Ingresa el CRQ que deseas consultar</h1>
       <br>
     </div>

     <div class="row">
         CRQ: <input type="crq" value="{{crq::input}}">
       <br>
     </div>

     <div class="row">
       <br>
       <h4 > </h4>
       <br>
     </div>

     <div class="row">
       <br>
       <h3 > </h3>
       <br>
     </div>

     <div class="row">
        <button on-click="nomcomponente" class="btn btn-success">Consultar</button>
        &nbsp; &nbsp; &nbsp;
        <button on-click="regresar" class="btn btn-warning">Regresar</button>
     </div>

     <div class="row">
       <img class = "clearfix" src="../../src/img/search.jpg" alt="">
     </div>

   </div>










   <div class="container" hidden$={{!registrado}}>

     <div class="row">
       <h1 class="encabezado">Registrar Nuevo Usuario</h1>
       <br>
     </div>

     <div class="row">
       <br>
       <h2 > </h2>
       <br>
     </div>

     <div class="row">
       Email: <input type="email" value="{{email::input}}">
       <br>
     </div>

     <div class="row">
       Password: <input type="password" value="{{password::input}}">
       <br>
     </div>

     <div class="row">
       Nombre: <input type="nombre" value="{{nombre::input}}">
       <br>
     </div>

     <div class="row">
       A. Paterno: <input type="apaterno" value="{{apaterno::input}}">
       <br>
     </div>

     <div class="row">
       A. Materno: <input type="amaterno" value="{{amaterno::input}}">
       <br>
     </div>

     <div class="row">
       <button on-click="guardar" class="btn btn-success">Guardar</button>
       &nbsp; &nbsp; &nbsp;
       <button on-click="regresar" class="btn btn-success">Regresar</button>
     </div>

     <div class="row">
       <img class = "pantallacompleta" src="../../src/img/newusr.jpg" alt="">
     </div>

   </div>


   <div class="row">
     <table class="table table-striped">
       <tbody>
         <template is="dom-repeat" items="{{componentes}}">
           <tr>
             <td>[[item.crq]]</td>
             <td>[[item.componente]]</td>
           </tr>
         </template>
       </tbody>
     </table>
   </div>







 </template>
 <script>
   /**
    * @customElement
    * @polymer
    */
   class loginApp extends Polymer.Element {
     static get is() { return 'login-app'; }
     static get properties() {
       return {
         email: {
           type: String
         },
         password: {
           type: String
         },
         nombre: {
           type: String
         },
         apaterno: {
           type: String
         },
         amaterno: {
           type: String
         },
         logado: {
           type: Boolean,
           value: false
         },
         dentro: {
           type: Boolean,
           value: false
         },
         registrado: {
           type: Boolean,
           value: false
         },
         crq: {
           type: String
         },

         componentes: {
           type: Array,
           notify: true
         }

      }
    }


     Entrar() {
       console.log("Entro al login");
       var request = new XMLHttpRequest();
       var url = "http://localhost:3002/login";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       request.setRequestHeader("email", this.email);
       request.setRequestHeader("password", this.password);
       request.send();
       this.respuesta = request.responseText;
       console.log(request.status);
       if (request.status == 200) {
         this.logado = true;
         this.dentro = true;
       } else {
         alert("Usuario y/o contraseña incorrecta");
         this.logado = false;
         this.dentro = false;
       }
     }

     registrar() {
       console.log("Se ha pulsado el botón de registrar");
       this.registrado = true;
       this.logado = true;
       this.dentro = false;
       this.componentes = false;
     }

     salir() {
       this.registrado = false;
       this.logado = false;
       this.dentro = false;
       this.email = "";
       this.password = "";
     }

     regresar() {
       this.registrado = false;
       this.logado = false;
       this.dentro = false;
       this.email = "";
       this.password = "";
       this.componentes = false;
     }

     guardar() {
       if (!/^([A-Za-z0-9.@_-])*$/.test(this.email) || this.email.length == 0){
          alert("Capture un correo válido");
          return false;
        }
        if (!/^([A-Za-z0-9.@_#$-])*$/.test(this.password) || this.password.length == 0){
           alert("Capture una contraseña válida");
           return false;
         }

       var request = new XMLHttpRequest();
       var url = "http://localhost:3002/GuardaUser";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       var nuevoCliente = {"email":this.email,"password":this.password,"nombre":this.nombre,"apaterno":this.apaterno, "amaterno":this.amaterno};

       var body = JSON.stringify(nuevoCliente);
       console.log("antes " + request.status);
       request.send(body);
       this.respuesta = request.responseText;
       console.log("ZZZ " + request.status);
       console.log("ZZZ1 " + request.responseText);

       if (request.status == 200) {
         this.registrado = false;
         this.logado = false;
         this.dentro = false;
         this.password = "";
       } else {
          console.log("Error al guardar: " + request.status);
       }
     }

     nomcomponente(){
       var request = new XMLHttpRequest();
       var url = "http://localhost:3002/Deploy";
       var x = 0;
          var total = 0;
          request.open("GET", url, false);
          request.setRequestHeader("crq", this.crq);
          request.send();
          this.componentes = JSON.parse(request.responseText);
          console.table(this.componentes);
          for (x=0;x<this.componentes.length;x++){
            console.log(this.componentes[x].componente);
            total = total + this.componentes[x].componente;
          }
     }



}
   window.customElements.define(loginApp.is, loginApp);
 </script>
</dom-module>
